<!--  VidhayakApp.Web.ViewModels

 SuggessionViewModel

<p>
    <h1>Suggession</h1>
</p>

<form class="row g-3" method="post">
    <div class="col-md-6">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" id="Title">
    </div>
    <div class="col-md-6">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" id="Description">
    </div>
    <br>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Options</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input asp-for="Radio1Value" class="form-check-input" type="radio" name="option" id="op1" value="option1" checked>
                <label asp-for="Radio1Value" class="form-check-label" for="gridRadios2">
                    Suggession
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio1Value" class="form-check-input" type="radio" name="option" id="op2" value="option2">
                <label asp-for="Radio1Value" class="form-check-label" for="gridRadios1">
                    Complaint
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio1Value" class="form-check-input" type="radio" name="option" id="op3" value="option3">
                <label asp-for="Radio1Value" class="form-check-label" for="gridRadios2">
                    Demand
                </label>
            </div>
    </fieldset>

    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Options</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op4" value="option1" checked>
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios2">
                    Government Scheme Related
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op5" value="option2">
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios1">
                    Private Institution Related
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op6" value="option3">
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios2">
                    Individual Related
                </label>
            </div>
    </fieldset>

    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Options</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op7" value="option1" checked>
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios2">
                    Government Office Related
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op8" value="option2">
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios1">
                    Private Institution Related
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Radio2Value" class="form-check-input" type="radio" name="option2" id="op9" value="option3">
                <label asp-for="Radio2Value" class="form-check-label" for="gridRadios2">
                    Individual Related
                </label>
            </div>
    </fieldset>

    <div class="col-md-4">
        <label for="inputState" class="form-label">Schemes</label>
        <select id="inputState" class="form-select">
            <option selected>Select...</option>
            <option>Samagra ID</option>
            <option>Aadhar Card</option>
            <option>Eligibility Certificate (Ration)</option>
            <option>BPL Card</option>
            <option>Birth Certificate</option>
            <option>Death Certificate</option>
            <option>Marriage Certificate</option>
            <option>Non-Creamy Layer Certificate</option>
            <option>Pradhan Mantri Awas Yojana</option>
            <option>Building Permit</option>
            <option>Old Age Pension</option>
            <option>Widow Pension</option>
            <option>Handicap Pension</option>
            <option>Widowhood Pension</option>
            <option>Divyang Pension</option>
            <option>Orphan Girl Pension</option>
            <option>Empowerment Card</option>
            <option>Building Construction Labor Card</option>
            <option>Funeral Assistance</option>
            <option>Grace Assistance</option>
            <option>Ladli Sister Scheme</option>
            <option>Matru Vandana Yojana</option>
            <option>Nutrition Food</option>
            <option>Path Vendor Registration</option>
            <option>Path Vendor Loan</option>
            <option>Self-Employment Loan</option>
            <option>Conversion Diversion</option>
            <option>Patta (Land Ownership Document)</option>
            <option>Land Lease</option>
            <option>New Water Connection</option>
            <option>Inter-caste Marriage Incentive Amount</option>
            <option>Chief Minister's Kanyadan</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



-->













