@using VidhayakApp.Core.Entities
@model User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AppUserLayout.cshtml";
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
    var loggedInId = context.Session.GetInt32("UserId");
    var loggedInRoleId = context.Session.GetInt32("RoleId");
    var loggedInRoleName = context.Session.GetString("RoleName");
}
  
@if(loggedInId == null)
{
    context.Response.Redirect("/Account/Login");
}
else if (loggedInRoleName == "AppUser" && loggedInRoleId == 3)
{

<form asp-action="DeleteConfirmed" asp-controller="AppUser" id="deleteForm" method="post">
    <input type="hidden" name="id" value="@Model.UserId" />
</form>

} else
{
    context.Response.Redirect("/Shared/404NotFoundError");
}

