@model VidhayakApp.Web.ViewModels.DepartmentViewModel

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_AppUserLayout.cshtml"; // Set the layout as needed
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var department in Model.Departments)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@department.DepartmentName</h5>
                        <p class="card-text">Total Complaints: @department.ComplaintsCount</p>
                    </div>
                    <center>
                    <a asp-action="ComplaintDepartmentWise" asp-controller="AppUser" asp-route-id="@department.DepartmentId" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </center>
                </div>
            </div>
        }
    </div>
</div>
