html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.endlast {
    justify-content: end;  !important;
}
.img-size{
    width:100vdw; !important;
    height:200px; !important;
}

.streach {
    display: contents; !important;
    position: absolute; !important;
}

.new-footer {
    position: absolute;!important ;
    bottom: 0px; !important ;
    width: 100%; !important ;
    display: flex; !important ;
    justify-content: space-between; !important;
    margin:0px; !important;
}