@using VidhayakApp.Web.ViewModels
@model CreateUserModel

<form class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" id="Name">
    </div>
    <div class="col-md-6">
        <label asp-for="Ward" class="form-label">Ward</label>
        <input asp-for="Ward" class="form-control" id="Ward">
    </div>
    <div class="col-12">
        <label asp-for="Address" class="form-label">Address</label>
        <input asp-for="Address" class="form-control" id="Address" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label asp-for="UserName" class="form-label">UserName</label>
        <input asp-for="UserName" class="form-control" id="UserName" placeholder="Enter UserName...">
    </div>
    <div class="col-md-6">
        <label asp-for="MobileNumber" class="form-label">MobileNumber</label>
        <input asp-for="MobileNumber" class="form-control" id="MobileNumber" placeholder="Enter MobileNumber...">
    </div>
    <div class="col-12">
        <button asp-action="CreateUser" asp-controller="Admin" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>