<link rel="stylesheet" href="~/css/try.css" />

<section class="content">
    <div class="container-fluid">
        @RenderBody()

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

