
@model VidhayakApp.ViewModels.ComplaintViewModel

@{
    ViewData["Title"] = "Create Complaint";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    TempData["Message"] =  "Complaint Created Successfully";
}

<form method="post">
    <div>

        <a asp-controller="Complaint" asp-action="Create" aria-pressed="true"></a>
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
        <button asp-controller="Complaint" asp-action="Create" class="btn btn-dark btn-lg active text-center" role="button" aria-pressed="true">Back To List</button>
    </div>
</form>       