    @using VidhayakApp.Web.ViewModels
    @model LoginViewModel
    
    @{
         ViewData["Title"] = "Successfull";
    }

<div class="alert alert-success" role="alert">
        Registration Successfull
</div>
