    @using VidhayakApp.Web.ViewModels
    @model LoginViewModel
    
    @{
    ViewData["Title"] = "Unsuccessfull";
    }

<div class="alert alert-danger" role="alert">
    Registration Unsuccessfull 
</div>