@{
    ViewData["Title"] = "Complaint";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card card-danger">
                        <div class="card-header">
                            Complaint Form
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select id="categoryInput" class="form-control">
                                        <!-- Options here -->
                                        <option selected="" value="Complaint">Complaint</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>SubCategory</label>
                                    <select id="subCategoryInput" class="form-control" onchange="handleSubCategoryChange()">
                                        <!-- Options here -->
                                        <option selected="">Select...</option>
                                        <option value="Related to Government Department">Related to Government Department</option>
                                        <option value="Related to Private Organization">Related to Private Organization</option>
                                        <option value="Related to Personal">Related to Personal</option>
                                    </select>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" id="titleId" class="form-control" placeholder="Enter ..." disbaled/>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id="descriptionId" class="form-control"  rows="3" placeholder="Enter ..." disabled ></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Select Department</label>
                                        <select id="departmentInput" class="form-control" disabled>
                                            <!-- Options here -->
                                            <option selected="">Select...</option>
                                            <option value="Collectorate">Collectorate</option>
                                            <option value="Nagar Tanagam">Nagar Tanagam</option>
                                            <option value="Rajthav Division">Rajthav Division</option>
                                            <option value="Panchayi Division">Panchayi Division</option>
                                            <option value="Adhyay Division">Adhyay Division</option>
                                            <option value="Mahila and Bal Vikas Division">Mahila and Bal Vikas Division</option>
                                            <option value="Samasjik Nyay Division">Samasjik Nyay Division</option>
                                            <option value="Thavathy Division">Thavathy Division</option>
                                            <option value="Lok Tanmayi Division PWD">Lok Tanmayi Division PWD</option>
                                            <option value="Lok Thavathy and Yantriki PHE">Lok Thavathy and Yantriki PHE</option>
                                            <option value="Shiksha Division">Shiksha Division</option>
                                            <option value="Bak">Bak</option>
                                            <!-- Add other options as needed -->

                                        </select>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button id="submitId" class="btn btn-primary col-sm-12" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/department.js"></script>

    
</body>
