@using VidhayakApp.Core.Entities
@using VidhayakApp.ViewModels
@model ComplaintViewModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Complaint";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    // Access HttpContext
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
}

<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="card card-danger">
                        <div class="card-header">
                            Complaint Form
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<ItemType>()" id="categoryInput" class="form-control">
                                        <option selected="" value="">Select...</option>
                                    </select>
                                </div>

                                <input type="hidden" asp-for="UserId" value="@context.Session.GetInt32("UserId")" />
                                            
                                <div class="form-group">
                                    <label>SubCategory</label>
                                    <select id="subCategoryInput" class="form-control" asp-for="ItemId"  onchange="handleSubCategoryChange()">
                                        <!-- Options here -->
                                        <option selected="">Select...</option>
                                        <option value="2">Related to Government Department</option>
                                        <option value="3">Related to Private Organization</option>
                                        <option value="4">Related to Personal</option>
                                    </select>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input asp-for="Title" type="text"  id="titleId" class="form-control" placeholder="Enter ..." disabled/>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea asp-for ="Description" id="descriptionId" class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Select Department</label>
                                        <select asp-for="DepartmentId" id="departmentInput" class="form-control" disabled>
                                            <!-- Options here -->
                                            <option selected="">Select...</option>
                                            <option value="1">Collectorate</option>
                                            <option value="2">Nagar Tanagam</option>
                                            <option value="3">Rajthav Division</option>
                                            <option value="4">Panchayi Division</option>
                                            <option value="5">Adhyay Division</option>
                                            <option value="6">Mahila and Bal Vikas Division</option>
                                            <option value="7">Samasjik Nyay Division</option>
                                            <option value="8">Thavathy Division</option>
                                            <option value="9">Lok Tanmayi Division PWD</option>
                                            <option value="10">Lok Thavathy and Yantriki PHE</option>
                                            <option value="11">Shiksha Division</option>
                                            <option value="12">Bak</option>
                                            <!-- Add other options as needed -->

                                        </select>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button asp-action="Create" asp-controller="Complaint" id="submitId" class="btn btn-primary col-sm-12" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <script src="~/js/department.js"></script> *@

    
</body>
