@using Microsoft.AspNetCore.Mvc.Rendering

@using VidhayakApp.Core.Entities
@model List<Item> 

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
    var loggedInId = context.Session.GetInt32("UserId");
    var tokenValue = context.Session.GetString("JwtToken");
    var loggedInRoleId = context.Session.GetInt32("RoleId");

    string dateToday = DateTime.Now.ToString("dd-mm-yyyy");
}

@if (loggedInId == null || tokenValue == null || loggedInRoleId == null || loggedInRoleId != 4)
{
    context.Response.Redirect("/Account/Login");
}else{

<!DOCTYPE html>
<html lang="en">

    <head>
       <link rel="stylesheet" href="~/css/UserDashboard.css" />
    </head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

    <div class="container">
            <div class="row card-margin">
        <div class="col-md-4">
          <div class="card card-1">
            <h3>Demand</h3>
                        <p>Count of submited applications: @ViewData["DemandCount"] </p>
                        <a asp-action="Demand" asp-controller="User">See More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-2">
            <h3>Complaint</h3>
                        <p>Count of submited applications: @ViewData["ComplaintCount"]</p>
                        <a asp-action="Complaints" asp-controller="User"> See More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-3">
            <h3>Suggestion</h3>
                        <p>Count of submited applications: @ViewData["SuggestionCount"]  </p>
            <a asp-action="Suggestion" asp-controller="User">See More</a>
          </div>
        </div>
      </div>
    </div>
      @*   <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script> *@
</body>

</html>

}



