@{
    ViewData["Title"] = "Demand";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="col-sm-6">

    <div class="card card-danger">
        <div class="card-header">
            Demand Form
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Select</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Select...</option>
                                    <option value="District_Court">District Court</option>
                                    <option value="Collectorate">Collectorate</option>
                                    <option value="Municipal_Corporation">Municipal Corporation</option>
                                    <option value="State_Home_Department">State Home Department</option>
                                    <option value="Panchayati_Department">Panchayati Department</option>
                                    <option value="Finance_Department">Finance Department</option>
                                    <option value="Women_and_Child_Development_Department">Women and Child Development Department</option>
                                    <option value="Social_Justice_Department">Social Justice Department</option>
                                    <option value="Health_Department">Health Department</option>
                                    <option value="Public_Works_Department">Public Works Department (PWD)</option>
                                    <option value="Public_Health_Engineering">Public Health Engineering (PHE)</option>
                                    <option value="Education_Department">Education Department</option>
                                </select>
                            </div>
                        </div>
            </form>
        </div>

    </div>

            



