@{
    ViewData["Title"] = "Demand";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body>
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-10">

                <div class="card card-danger">
                    <div class="card-header">
                        Demand Form
                    </div>

                    <div class="card-body">
                        <form>

                            <div class="form-group">
                                <label>Category</label>
                                <select id="categoryInput" class="form-control">
                                    <!-- Options here -->
                                    <option selected="" value="Demand">Demand</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Sub-Category</label>
                                <select id="subCategoryInput" class="form-control" onchange="handleSubCategoryChange()">
                                    <!-- Options here -->
                                    <option selected="">Select...</option>
                                    <option value="Related to Government Schemes">Related to Government Schemes</option>
                                    <option value="Related to Private Organization">Related to Private Organization</option>
                                    <option value="Related to Personal">Related to Personal</option>
                                </select>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Select Schemes</label>
                                    <select id="schemeInput" class="form-control" disabled>
                                        <!-- Options here -->
                                        <option selected="">Select...</option>
                                        <option value="Samagra ID">Samagra ID</option>
                                        <!-- Add other scheme options as needed -->
                                    </select>
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary col-sm-12" type="button" formaction="/">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/department.js"></script>
</body>