@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var context = HttpContextAccessor.HttpContext;
    // Use httpContext as needed
    var loggedInId = context.Session.GetInt32("UserId");

}

@if(loggedInId == null)
{
    context.Response.Redirect("/Account/Login");
}

<div class="col-sm-6">

<div class="card card-danger">
    <div class="card-header">
        Feedback Form
    </div>
        <div class="card-body">
            <form>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>

                    
                </div>
            </form>

            <div class="text-center">
                <button class="btn btn-primary col-sm-12" type="button" formaction="/">Submit</button>
            </div>
        </div>


</div>

