@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Homepage</title>
    <link rel="stylesheet" href="~/css/homeIndex.css">
</head>
<body>
   
    <video autoplay muted loop style="position: fixed; top: 0; left: 0; width: fit-content; height: fit-content; z-index: -1; resize:block">
            <source src="~/dist/video/Banner.webm" type="video/webm">
            <!-- Add additional source tags for other video formats if needed -->
            Your browser does not support the video tag.
        </video>


 
</body>
</html>
