<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\YourAspNetCoreApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
        <authentication mode="Forms" >
            <forms loginUrl="login.cshtml" name=".ASPNETAUTH" protection="None" path="/" timeout="20" >
            </forms>
        </authentication>
        --><!-- This section denies access to all files in this application except for those that you have not explicitly specified by using another setting. --><!--
        <authorization>
            <deny users="?" />
        </authorization> 

</system.webServer>
</configuration>-->
